
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 100%);
    /* font-family: "Courier New", Courier, monospace; */
}

#calc{
    font-family: "Courier New", Courier, monospace;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 400px;
    height: 600px;
    overflow: hidden;
    margin: 0 auto;
}

#dspl{
    width: 350px;
    padding: 20px;
    font-size: 5rem;
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}

#keypads{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
    height: 70%;
}

#keypads button:nth-child(17) {
    width: calc(100% - 10px); 
    grid-column: span 2;
  }

button{
    width: auto;
    height: 80px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-weight: bold;
    font-size: 3rem;
    cursor: pointer;
    grid-column: span 1; 
}

button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}

.opBtn, .eqlBtn{
    background-color: hsl(35, 100%, 55%);
}

.opBtn:hover, .eqlBtn:hover{
    background-color: hsl(35, 100%, 65%);
}

.opBtn:active, .eqlBtn:active{
    background-color: hsl(35, 100%, 75%);
}

.ashkeyBtn, .clrBtn{
    background-color: hsl(0, 0%, 50%);
}

.ashkeyBtn:hover, .clrBtn:hover{
    background-color: hsl(0, 0%, 60%);
}